@{
    ViewBag.Title = "Thông tin";
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
